body {
    background-color: black;
}

h1 {
    color: red;
    text-decoration: underline;
    font-weight: lighter;
}

button {
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
